/* Your Website Styles */

body{
	font-family: 'Playfair Display', serif;
	background: url("../img/noisy_net.png");
	color:#EBEBCF;
	font-size: 1.15em;
}
h1,h2,h3{
	color: #F0392B;
	text-align: center;
}
body > div > section.grid_12.alpha > p,body > div > section:nth-child(2) > section.grid_7.alpha > p,body > div > section:nth-child(2) > section.grid_5.omega > p{
	text-indent: 1em;
}
/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}