/* Your Website Styles */

body{
	font-family: 'Playfair Display', serif;
	background: url("../img/noisy_net.png");
	color:#EBEBCF;
}
h1,h2,h3{
	color: #F0392B;
}
/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}